

// Processes
process {
    withLabel: 'index' { cpus = 4; memory = 12.GB }
    withLabel: 'd_index' { cpus = 4; memory = 4.GB }
    withLabel: 'bed' { cpus = 2; memory = 12.GB }
    withLabel: 'fastqc' { cpus = 4; memory = 8.GB }
    withLabel: 'samtools' { cpus = 4; memory = 8.GB }
    withLabel: 'trimming' { cpus = 12; memory = 24.GB }
    withLabel: 'align' {cpus = 24; memory = 32.GB}
    withLabel: 'sorting' {cpus = 12; memory = 24.GB }
    withLabel: 'picard' {cpus = 8; memory = 32.GB}
    withLabel: 'qualimap' {cpus = 12; memory = 32.GB}
    withLabel: 'markduplicates' {cpus = 8; memory = 32.GB}
    withLabel: 'faidx' {cpus = 2; memory = 4.GB}
    withLabel: 'baserecal' {cpus = 6; memory = 32.GB} 
    withLabel: 'baserecalspark' {cpus = 6; memory = 32.GB}
    withLabel: 'applybsrq' {cpus = 6; memory = 24.GB}
    withLabel: 'sorting_bsqr' {cpus = 6; memory = 24.GB}
    withLabel: 'haplotypecall' {cpus = 10; memory = 32.GB}
    withLabel: 'bcftools' {cpus = 10; memory = 32.GB}
    withLabel: 'vcf_panel' {cpus = 6; memory= 12.GB}
    withLabel: 'download_cachedir' {cpus = 4; memory =8.GB}
    withLabel: 'vep' {cpus = 6; memory=12.GB}
    withLabel: 'oncokb' {cpus = 6; memory=12.GB}
    withLabel: 'variantcalling' {cpus = 6; memory=12.GB}
    withLabel: 'multiqc_conf' {cpus = 2; memory=8.GB}
    withLabel: 'multiqc' {cpus = 2; memory=8.GB}
    withLabel: 'report' {cpus =2; memory=4.GB}


}

plugins {
  id 'nf-google@1.1.3'
}
timeline {
  enabled = true
  file = "${params.outdir}/execution/timeline.html" 
}
report {
  enabled = true
  file = "${params.outdir}/execution/report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/execution/trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/execution/pipeline.svg"
}

process.executor = 'slurm'
process.container = 'docker://rosadesa/ampliseq:0.2'

workDir = '/mnt/novaseq/r.desantis/wgs/work'

// Gcloud
google.zone = 'europe-west1'

// Singularity
singularity {
    enabled = true
    autoMounts = true
   
}

trace.overwrite = true
dag.overwrite = true

 //cacheDir = 'work/singularity'
params {

  //download_reference

  //trimming
  soapnuke_lowQual = "10"
  soapnuke_qualRate = "0.2"
  soapnuke_nRate = "0.05"
  soapnuke_adapter1 = "AAGTCGGAGGCCAAGCGGTCTTAGGAAGACAA"
  soapnuke_adapter2 = "AAGTCGGATCGTAGCCATGTCGTTCTGTGAGCCAAGGAGTTG"
  soapnuke_mean= "15"
  trimmed_bases= "10"

  //alignment
  

  //samtools
   primers = "$baseDir/files/primers_positions.bedpe"

  //picard
  bed="$baseDir/files/amplicon_region.bed"

  //markduplicates

  //faidx

  //baserecal

  //baserecalspark

  //applybsrq
  //sorting_bsqr

  //haplotypecall
  bed= "$baseDir/files/amplicon_region.bed"

  //mutect2
  cpus= 10
  bed= "$baseDir/files/amplicon_region.bed"
 
  //GATK filter calls
  //vcf_panel
  exon_amp="$baseDir/files/exons-amplicon-pad-bladder.bed"


  //download-cachedir

  //vep

  //snpeff
  snpeff_db = "GRCh38.86"
  
  //multiqc_conf
  //multiqc
  //report
  

  
}
